.btn {
  padding: 10px 15px;
  outline: none;
  border: none;
  background-color: dodgerblue;
  color: white;
  min-width: 100px;
  max-width: 130px;
  width: 10%;
  overflow: hidden;
  height: 50px;
  margin-top: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content-block{
  width: 50%;
  height: 300px;
  overflow-y: auto;
}
